<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ErrorHedging.Properties.Settings.DotNetDBConnectionString"
            connectionString="Data Source=ingefin.ensimag.fr;Initial Catalog=DotNetDB;Persist Security Info=True;User ID=etudiant;Password=edn!2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <NetFx40_PInvokeStackResilience enabled="1"/>
  </runtime>
</configuration>